.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.loan-form-wrapper {
  width: 60%;
  margin: 0 auto;
}

.loan-form-wrapper h2 {
  text-align: center;
}
label {
  text-align: center;
  display: block;
}
input[type="text"] {
  display: block;
  margin : 0 auto;
}
button {
  display: block;
  margin : 0 auto; 
  width: 110px;
  height: 60px;
}
ul {
  width: 60%;
  margin: 0 auto; 
}
ul h3 {
  width: 100%;
  text-align: center;
}